<section class="login">
    <form name="myForm"
          ng-submit="login()"
          novalidate>
        <h2>Login</h2>
        <p>Login to see site features</p>
        <input type="email" name="email"  placeholder="Email" autofocus
               ng-model="user.email" ng-required="true"/>
        <p class="error validationerror"
           ng-show="myForm.email.$invalid && myForm.email.$touched">
            Must be a valid email
        </p>
        <input type="password" name="password" placeholder="Password"
               ng-model="user.password" ng-required="true" />
        <p class="error validationerror"
           ng-show="myForm.password.$invalid && myForm.password.$touched">
            Password is required
        </p>
        <button type="submit" class="btn"
                ng-disabled="myForm.$invalid">Login</button>
        <p>Or <a href="#register"> Register </a></p>
    </form>
</section>