<div class="home">
    <div class="col-xs-12">
        <div class="col-xs-6">
            <div class="well">
                <h2>Employee Check In</h2>
                <form name="checkInForm">
                    <div class="form-inline">
                        <input class="form-control" type="text" name="empCode" ng-model="code" placeholder="Employee Code"/>
                        <button type="submit" class="btn btn-success">Check In</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="well">
                <h2>Organization</h2>
            </div>
        </div>
    </div>
</div>