<section class="login">
    <form name="myForm"
          ng-submit="login()"
          novalidate>
        <h2>Login</h2>
        <p class="error errormessage" ng-show="message"> {{message}}</p>
        <div class="form-group">
            <input  class="form-control" type="email" name="email"  placeholder="Email" autofocus
                    ng-model="user.email" ng-required="true"/>
            <p class="error"
               ng-show="myForm.email.$invalid && myForm.email.$touched">
                Must be a valid email
            </p>

        </div>
        <div class="form-group">
            <input  class="form-control" type="password" name="password" placeholder="Password"
                    ng-model="user.password" ng-required="true" />
            <p class="error"
               ng-show="myForm.password.$invalid && myForm.password.$touched">
                Password is required
            </p>
        </div>
        <button type="submit" class="btn btn-success form-control"
                ng-disabled="myForm.$invalid">Login</button>
    </form>
</section>