<nav class="navbar navbar-default" role="navigation" ng-controller="NavBarCtrl">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" ng-click="navbarCollapsed = !navbarCollapsed">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a ng-hide="currentUser" class="navbar-brand" href="#/">
            Employee
        </a>
        <a ng-show="currentUser" class="navbar-brand" href="#/dashboard">
            Employee
        </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" collapse="navbarCollapsed">
        <ul class="nav navbar-nav navbar-right">
            <li ng-show="currentUser"><a ng-href="#/employees">Employees<span ng-show="howManyEmployees">{{ '(' + howManyEmployees + ')' }}</span></a></li>
            <li ng-hide="currentUser" ><a ng-href="#/login">Login</a></li>
            <li ng-hide="currentUser" ><a ng-href="#/register">Register</a></li>
            <li ng-show="currentUser"><a ng-href="#/logout" ng-click="logout()">Logout</a></li>
        </ul>
    </div>
</nav>