<nav class="navbar navbar-default" role="navigation" ng-controller="NavBarCtrl">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" ng-click="navbarCollapsed = !navbarCollapsed">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">
            Employee
        </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" collapse="navbarCollapsed">
        <ul class="nav navbar-nav navbar-right">
            <li><a ng-show="currentUser" ng-href="#/meetings">Meetings
        <span ng-show="howManyMeetings">
          {{ '(' + howManyMeetings + ')' }}</span></a></li>
            <li><a ng-hide="currentUser" ng-href="#/login">Login</a></li>
            <li><a ng-hide="currentUser" ng-href="#/register">Register</a></li>
        </ul>
    </div>
</nav>