<section class="register">
    <form name="myForm"
          ng-submit="register()"
          novalidate>
        <h2>Register Your Organization</h2>
        <div class="form-group">
            <input class="form-control" type="text" name="company"  placeholder="Organization Name"
                   ng-model="user.company" ng-required="true"/>
            <p class="error"
               ng-show="myForm.company.$invalid && myForm.company.$touched">
                Organization Name is required
            </p>
        </div>
        
        <div class="form-group">
            <input class="form-control" type="email" name="email"  placeholder="Email" autofocus
                   ng-model="user.email" ng-required="true"/>
            <p class="error validationerror"
               ng-show="myForm.email.$invalid && myForm.email.$touched">
                Must be a valid email
            </p>
        </div>
        <div class="form-group">
            <input  class="form-control"  type="password" name="password" placeholder="Password"
                    ng-model="user.password" ng-required="true" />
            <p class="error validationerror"
               ng-show="myForm.password.$invalid && myForm.password.$touched">
                Password is required
            </p>
        </div>
        <button type="submit" class="btn btn-success form-control"
                ng-disabled="myForm.$invalid">Register</button>
    </form>
</section>