<section class="register">
    <form name="myForm"
          ng-submit="register()"
          novalidate>
        <h2>Register</h2>
        <div class="form-group">
            <p class="error errormessage" ng-show="message"> {{message}}</p>
            <input class="form-control" type="text" name="firstname"  placeholder="First Name"
                   ng-model="user.firstname" ng-required="true"/>
            <p class="error validationerror"
               ng-show="myForm.firstname.$invalid && myForm.firstname.$touched">
                First Name is required
            </p>
        </div>

        <div class="form-group">

            <input  class="form-control"  type="text" name="lastname"  placeholder="Last Name"
                    ng-model="user.lastname" ng-required="true"/>
            <p class="error validationerror"
               ng-show="myForm.lastname.$invalid && myForm.lastname.$touched">
                Last Name is required
            </p>
        </div>
        <div class="form-group">
            <input class="form-control" type="email" name="email"  placeholder="Email" autofocus
                   ng-model="user.email" ng-required="true"/>
            <p class="error validationerror"
               ng-show="myForm.email.$invalid && myForm.email.$touched">
                Must be a valid email
            </p>
        </div>
        <div class="form-group">
            <input  class="form-control"  type="password" name="password" placeholder="Password"
                    ng-model="user.password" ng-required="true" />
            <p class="error validationerror"
               ng-show="myForm.password.$invalid && myForm.password.$touched">
                Password is required
            </p>
        </div>
        <button class="form-control" type="submit" class="btn btn-default"
                ng-disabled="myForm.$invalid">Register</button>
    </form>
</section>